.joke:first-of-type {
  margin-top: 0.5rem;
}

.jokes-display {
  height: 22rem;
  border: 1px solid rgb(5, 90, 165);
  border-radius: 0.4rem;
  padding: 0.6rem;
  overflow-y: scroll;
  line-height: 1.3rem;
  letter-spacing: 1px;
}
