.options-wrapper {
  margin-bottom: 1rem;
  font-size: 0.8rem;
  border: 1px solid rgb(5, 90, 165);
  border-radius: 0.4rem;
  padding: 0.3rem;
}

.options-wrapper section:first-of-type {
  margin-bottom: 1rem;
}

.paging-buttons:first-of-type {
  margin-right: 1rem;
}
