.options-wrapper {
  margin-bottom: 1rem;
  font-size: 0.8rem;
  border: 1px solid rgb(5, 90, 165);
  border-radius: 0.4rem;
  padding: 0.3rem;
  line-height: 1.1rem;
}

.search-by-page-instructions {
  margin-top: 0.4rem;
  margin-bottom: 0;
}

.input-wrapper {
  position: relative;
  margin-top: 0.3rem;
}

.load-page-button {
  margin-left: 1rem;
}

.load-page-button:disabled {
  cursor: not-allowed;
}

.error {
  font-weight: 600;
  color: rgb(165, 0, 0);
}

.input-error {
  border: 2px solid rgb(165, 0, 0);
}

.paging-buttons:first-of-type {
  margin-right: 1rem;
}
